.box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}